VBox {
    -fx-font-size: 2em;
}

.menu {
    -fx-font-size: 2em;
    -fx-spacing: 32;
    -fx-padding: 32;
    -fx-border-color: -fx-box-border;
}

Label, .table-view .column-header-background, .table-row-cell {
    -fx-font-size: 1.5em;
}

.table-row-cell:empty {
    -fx-background-color: transparent;
}
